
.chordtable-body {
    border-collapse: collapse;
    width: 100%;
    font-size: 24px;
}

.chordtable-th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#chordtable tr:nth-child(even){background-color: #f2f2f2;}

#chordtable tr:hover {background-color: #ddd;}

#chordtable td, #chordtable th {
    border: 1px solid #ddd;
    padding: 8px;
  }